*
{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.container {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* Header section */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 8%;
}

.logo
{
    color: #50c0e9;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span
{
    color:#f9004d ;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;


}

nav ul li a.active
{
    background-color: #50c0e9;
    color:white ;

}

nav ul li a:hover
{
    color:white ;
    transition: .4s;
    background-color: #50c0e9;
    
}

.bg-img 
{
    background-image: url(assets/a3.jpg);
}

/* Heading title */
.heading
{
    padding-top: 50px;
    position: absolute;
    transform: translateY(-50%);
    background: #fff;
    width: 100%;
}

h5{
    color:#50c0e9;
    margin: 20px 0px 20px;
    font-size: 35px;
    text-align: center;
}

h6{
    color:  #50c0e9;
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
}

/* My recent work 1 */
.service
{
    background: #fff;
    width: 100%;
    padding: 100px 0px;

}

.title h3{
    color: #50c0e9;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
    

}

.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.card
{
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: #f9f9f9;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 30px solid #50c0e9;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #50c0e9;
}

.card h5{
    color: black;
    font-size: 26px;
    margin-bottom: 15px;

}

.pra p
{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button
{

    background-color:#f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
}


/* My recent work 2 */


.title1 h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}

.box1
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    

}

.card1
{
    height: 365px;
    width: 500px;
    padding: 20px 35px;
    background: #f9f9f9;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 30px solid #50c0e9;
    
}

.card1 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #50c0e9;
}

.card1 h5{
    color: black;
    font-size: 26px;
    margin-bottom: 15px;

}

.pra1 p
{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card1 .button1
{

    background-color:#f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card1 .button1:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
}


/* About section */

.about
{
    width: 100%;
    padding: 100px 0px;
    background-color:#fff;

}
.about img{
    height: auto;
    width: 430px;
}

.about-text
{
    width: 550px;

}
.main
{
   width:1130px ; 
   max-width: 95%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.about-text h2{
    color: #50c0e9;
    font-size:20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about h2{
    color: #50c0e9;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
}

.about-text h5
{
        color: #50c0e9;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;

}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

button
{
    background-color:#f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
}


/* Our team section */

.service2
{
    background: #fff;
    width: 100%;
    padding: 100px 0px;

}

.title2 h2{
    color: #50c0e9;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;

}

.box2
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.card2
{
    height: 700px;
    width: 335px;
    padding: 20px 35px;
    background: #f9f9f9;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 30px solid #50c0e9;
}

.card2 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#50c0e9;
}

.card2 h5{
    color: black;
    font-size: 26px;
    margin-bottom: 15px;

}

.pra2 p
{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    padding-top: 12px;

}

.pra2 .c-img
{

    display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;

}

.card2 .button2
{

    background-color:#f9004d ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card2 .button2:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
}



/* footer section */

footer .container
{
    background-color: #fff;
    width: 100%;
    
}
.row
{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;

}

.footer-col ul{
    list-style: none;

}

.footer-col h4{
    color: #50c0e9;
    margin-bottom: 25px;
    font-size: 15px;
    position: relative;
}

.footer-col h3{
    color: black;
    margin-bottom: 25px;
    font-size: 15px;
    position: relative;
}
.footer-col p{
    color: black;
    font-size: 15px;
    position: relative;
    white-space: pre;
    
}

.footer-col h4::before
{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;

}

.footer-col ul li{
    padding: 10px 0;
}

.footer-col ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover
{
    opacity: 1;
}

.row .col p 
{
    color: black;
    font-size: 15px;
    font-weight: normal;
}

.row .socialicons a
{
    display: inline-block;
    color: #50c0e9;
    font-size: 30px;
    margin: 0 15px;
    transition: .4s;
}

.row .socialicons i:hover
{
    color: #f9004d;
}

